*{
 box-sizing: border-box;
 font-family:  monospace,verdana, 'Courier New', Courier, monospace,Arial, Helvetica, sans-serif;
}
 .app-title{
   height: 3em;
   text-align: center;
   width: 100%;
   font-weight: bold;
   font-size: 20px;
 }
 .main-app {
  width: 30%;
  margin-top:auto;
  float:left;
 }

.header {
  padding: 10px;
  text-align: center;
  background-color:antiquewhite;
}

.flex-footer{
  display: flex;
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  height:10vh;
  padding: 10px;
  background-color:antiquewhite;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: center;
}

.btn-show button, .btn-clear button{
  /* border-radius: 5px;
  font-weight: bold;
  border:none;
  padding:8px; */
  padding: 6px 6px;
  margin: 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* display: inline-block; */
    /* background-color:#faebd8; */
    color:white;
    font-weight: bold;
    background-color: #A0522D;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 30%;
}

.column.middle {
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* TaskEditForm - container */
.task-form-container{
  background-color: antiquewhite;
  border-radius: 5px;
  padding:10px;
}

.task-form-container input[type=text], [type=date], select, textarea {
  width:65%;
  padding:10px;
  border-radius:5px;
  border:1px solid rgb(245, 223, 194);
  margin-bottom: 2px;
}
.task-form-container input[type=checkbox] {
  padding:10px;
  margin-bottom: 2px;
}

.task-form-container label {
  padding: 5px;
  display: inline-block;
  width:25%;
}
.task-form-container select {
  background-color: white;
  font-weight:bold;
}
.task-form-container button {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:10rem;
    display: inline-block;
    /* background-color:#faebd8; */
    color:white;
    font-weight: bold;
    background-color: #A0522D;
}
