.list-items {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    /* border: 1px dotted #ccc; */
    /* border: 1px solid blue; */
    margin:0.3em;
  }
  li{
    list-style-type: none;
    text-align: left;
    border:1px solid #ccc;
  }
  img {
    text-align:right ;
  }
  .list-label {
    width: 35rem;
    font-size: 14px;
    word-wrap: break-word;
    padding: 0.5rem;
  }
  input {
    width: 35rem;
    padding: 0.5rem;
    margin-left:0.25rem;
    border: 1px dotted red;
  }