.list-item1 {
  /* display: flex; */
  align-items: stretch;
  width: 28rem; 
  font-size: 14px;
  word-wrap: break-word;
  position: relative; 
  margin-left: 1em;
  float:left;
} 
.list-item input:focus {
  outline: none;
}
.imgEdit{
  /* flex-grow:0.1; */
  /* position: fixed; */
  flex-grow:1;
}
.imgDel{
  /* flex-grow:0.1; */
  /* position: fixed; */
  flex-grow:1;
}
.list-item {
  display: flex;
  align-items: stretch;
  padding: 10px;
  /* width: 60%; */
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: antiquewhite;
  border:none;
  align-content: center;
}
.listPValue {
  flex-grow: 7;
}
.pValue {
  flex-grow: 8
}

.list-item-update {
  width: 15rem;
  padding: 10px;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border:outset;
  align-content: center;
}
